<h2>Click a PR to go.</h2>
<span>
  <button mat-raised-button color="primary" (click)="allRepos()">
    <h2>ALL REPOS</h2>
  </button>
  <button
    mat-stroked-button
    color="primary"
    *ngFor="let repo of repos"
    (click)="setRepo(repo)"
  >
    <h2>{{ repo.name }}</h2>
  </button>
</span>
table
<ul>
  <li *ngFor="let pr of prs">
    <h2>
      <a target="_blank" [href]="pr.htmlUrl"
        ><b>IN</b> {{ pr.repo }} <b>BY</b> {{ pr.userName }}
        <b>ON</b>
        {{ pr.createdAt | date: "short" }} || {{ pr.title }}</a
      >
    </h2>
  </li>
</ul>
