<h2>Click a PR to go.</h2>
<mat-button-toggle-group
  (change)="selectRepo($event)"
  name="repoSelection"
  area-label="Select a Repo"
  checked="true"
>
  <mat-button-toggle [value]="{ name: 'ALL', path: null }"
    >ALL REPOS</mat-button-toggle
  >
  <mat-button-toggle *ngFor="let repo of repos" [value]="repo">{{
    repo.name
  }}</mat-button-toggle>
</mat-button-toggle-group>
table
<ul>
  <li *ngFor="let pr of prs">
    <h2>
      <a target="_blank" [href]="pr.htmlUrl"
        ><b>IN</b> {{ pr.repo }} <b>BY</b> {{ pr.userName }}
        <b>ON</b>
        {{ pr.createdAt | date: "short" }} || {{ pr.title }}</a
      >
    </h2>
  </li>
</ul>
